<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="author" content="Anton Vacal">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,
	initial-scale=1, shrink-to-fit=no">
	<title>Phonebook Using Vue.js</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/b2a4763cec.js" crossorigin="anonymous"></script>
	<style type="text/css">
		#overlay{
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba(0, 0, 0, 0.6);
		}
	</style>
</head>

<body>
	<div id="app">
		<div class="container-fluid">
			<div class="row bg-dark">
				<div class="col-lg-12">
					<p class="text-center text-light display-4 pt-2" style="font-size:25px"><marquee>Phonebook Using Vue.js</marquee></p>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row mt-3">
				<div class="col-lg-6">
					<h3 class="text-info">Contacts Saved</h3>
				</div>
				<div class="col-lg-6">
					<button class="btn btn-info float-right" @click="showAddModal=true">
						<i class="fas fa-user"></i>&nbsp;&nbsp;Add New Contact
					</button>
				</div>
			</div>
			<hr class="bg-info">
			<div class="alert alert-danger" v-if="errorMsg">
				{{ errorMsg }}
			</div>
			<div class="alert alert-success" v-if="successMsg">
				{{ successMsg }}
			</div>

			<!-- Displaying Contacts -->
			<div class="row">
				<div class="col-lg-12">
					<table class="table table-bordered table-striped">
						<thead>
							<tr class="text-center bg-info text-light">
								<th>ID</th>
								<th>Name</th>
								<th>Phone Number</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr class="text-center" v-for="user in users">
								<td>{{ user.id }}</td>
								<td>{{ user.name }}</td>
								<td>{{ user.phone }}</td>
								<td><a href="#" class="text-success" @click="showEditModal=true; selectUser(user);"><i class="fas fa-edit"></i></a></td>
								<td><a href="#" class="text-danger" @click="showDeleteModal=true; selectUser(user);"><i class="fas fa-trash-alt"></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<!-- Add new contact model -->
		<div id="overlay" v-if="showAddModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Add New Contact</h5>
						<button type="button" class="close" @click="showAddModal=false">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body p-4">
						<form action="#" method="post">
							<div class="form-group">
								<input type="text" name="name" class="form-control form-control-lg" placeholder="Name" v-model="newUser.name">
							</div>
							<div class="form-group">
								<input type="tel" name="phone" class="form-control form-control-lg" placeholder="Phone Number" v-model="newUser.phone">
							</div>
							<div class="form-group">
								<button class="btn btn-info btn-block btn-lg" @click="showAddModal=false; addUser(); clearMsg();">
								Add Contact</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

				<!-- Edit contact model -->
		<div id="overlay" v-if="showEditModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Edit Contact</h5>
						<button type="button" class="close" @click="showEditModal=false">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body p-4">
						<form action="#" method="post">
							<div class="form-group">
								<input type="text" name="name" class="form-control form-control-lg" v-model="currentUser.name">
							</div>
							<div class="form-group">
								<input type="tel" name="phone" class="form-control form-control-lg" v-model="currentUser.phone">
							</div>
							<div class="form-group">
								<button class="btn btn-info btn-block btn-lg" @click="showEditModal=false; updateUser(); clearMsg();">
								Update Contact</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div id="overlay" v-if="showDeleteModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Delete Contact</h5>
						<button type="button" class="close" @click="showDeleteModal=false">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body p-4">
						<h4 class="text-danger">Are you sure want to delete this contact?</h4>
						<h5>Deleting '{{ currentUser.name }}'</h5>
						<hr>
						<button class="btn btn-danger btn-lg" @click="showDeleteModal=false; deleteUser(); clearMsg();">Yes</button>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<button class="btn btn-success btn-lg" @click="showDeleteModal=false">No</button>
					</div>
				</div>
			</div>
		</div>

	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script>
		var app = new Vue({
		el: '#app',
		data: {
			errorMsg: "",
			successMsg: "",
			showAddModal: false,
			showEditModal: false,
			showDeleteModal: false,
			users: [],
			newUser: {name: "", phone: ""},
			currentUser: {}
		},

		mounted: function(){
			this.getAllUsers();
		},

		methods: {
			getAllUsers(){
				axios.get("http://localhost/phonebook/process.php?action=read").then(function(response){
					if(response.data.error){
						app.errorMsg = response.data.message;
					}
					else{
						app.users = response.data.users;
					}
				});
			},
			addUser(){
				var formData = app.toFormData(app.newUser);
				axios.post("http://localhost/phonebook/process.php?action=create", formData).then(function(response){
					app.newUser = {name: "", phone: ""};
					if(response.data.error){
						app.errorMsg = response.data.message;
					}
					else{
						app.successMsg = response.data.message;
						app.getAllUsers();
					}
				});
			},

			updateUser(){
				var formData = app.toFormData(app.currentUser);
				axios.post("http://localhost/phonebook/process.php?action=update", formData).then(function(response){
					app.currentUser = {};
					if(response.data.error){
						app.errorMsg = response.data.message;
					}
					else{
						app.successMsg = response.data.message;
						app.getAllUsers();
					}
				});
			},

			deleteUser(){
				var formData = app.toFormData(app.currentUser);
				axios.post("http://localhost/phonebook/process.php?action=delete", formData).then(function(response){
					app.currentUser = {};
					if(response.data.error){
						app.errorMsg = response.data.message;
					}
					else{
						app.successMsg = response.data.message;
						app.getAllUsers();
					}
				});
			},

			toFormData(obj){
				var fd = new FormData();
				for(var i in obj){
					fd.append(i,obj[i]);
				}
				return fd;
			},
			selectUser(user){
				app.currentUser = user;
			},
			clearMsg(){
				app.errorMsg = "";
				app.successMsg = "";
			}
		}
	});
	</script>
</body>

</html>